<!DOCTYPE html>
<html>
<head>
  <title>Vibe Match</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div class="content">
  <header>
  <div class="video-section">
  <video autoplay muted loop>
    <#source src="<#%= asset_path('background-video.mp4') %>" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
    <h1>VibeMatch: <strong>Curate your</strong> perfect <strong>playlist</strong>!</h1>
    <p>VibeMatch creates custom playlists that perfectly match the vibe of any song you choose.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
    <section>
      <h2>Get Started</h2>
      <%= form_with url: new_search_path, method: :get, local: true do %>
        <%= label_tag :song, 'Enter a Song:' %>
        <%= text_field_tag :song, nil, placeholder: 'e.g., Come as you are' %>
        <%= submit_tag 'Generate Playlist' %>
      <% end %>
    </section>
  </main>

  <footer>
    <p>&copy; <%= Time.now.year %> Vibe Match. All rights reserved.</p>
  </footer>
</body>
</html>
