<!DOCTYPE html>
<html>
<head>
  <title>Vibe Match</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">VibeMatch</a>
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"
            >Disabled</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
    <!-- Navbar -->
  </header>

  <main>
    <section>
      <h2>How It Works</h2>
      <p>Vibe Match helps you find music that matches the vibe of your favorite songs. Just input a song, and we'll generate a playlist of 20 songs that match its vibe.</p>
    </section>

    <section>
      <h2>Get Started</h2>
      <%= form_with url: new_search_path, method: :get, local: true do %>
        <%= label_tag :song, 'Enter a Song:' %>
        <%= text_field_tag :song, nil, placeholder: 'e.g., Come as you are' %>
        <%= submit_tag 'Generate Playlist' %>
      <% end %>
    </section>
  </main>

  <footer>
    <p>&copy; <%= Time.now.year %> Vibe Match. All rights reserved.</p>
  </footer>
</body>
</html>
